body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-img: url('../img/ku.jpg') ;
    overflow: hidden; /* Mencegah scroll */
}

.game-area {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('../img/ku.jpg'); /* Ganti dengan path gambar Anda */
    background-size: cover; /* Untuk menutupi seluruh area */
    background-repeat: no-repeat; /* Agar gambar tidak berulang */
    background-position: center; /* Untuk memposisikan gambar di tengah */
}


.score {
    position: absolute;
    background: #ffbfff;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #333;
    z-index: 10;
}

.ball {

    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/c.jpg'); /* Ganti dengan path gambar Anda */
    background-size: cover;
     border:4px solid #3498db; /* Warna dan ketebalan border */
  border-radius: 65px;     /* Radius lengkungan sudut */
  padding: 15px;           /* Ruang di dalam frame */
}


 
